<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{{pageTitle}}</title>

    </head>
    <body>
        <h1>We'll be right back</h1>
        <p>
            this site is currently in update
        </p>
    </body>
</html>